body {
    background-color: #0B4B5B;
    font-family: monospace;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    justify-self: center;
}

.box {
    align-self: center;
    width: 98%;
    padding: 5px;
}

#main {
    background-color: #6E0846;
    width: 100%;
    margin: 0 auto;
}

#title {
    text-align: center;
    color: white;
    background-color: #0F807A;
}

#img-div{
    margin-top: 5px;
    background-color: #0F807A;
    width: 98%;
}

#image {
    margin-top: 5px;
    border: 2px;
    border-style: solid;
    border-color: #6E0846;
    border-radius: 10%;
}

#img-caption{
    text-align: center;
    font-size: 14px;
}

img {
    align-self: center;
    max-width: 100%;
    height: auto;
}